html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;

    background:
        linear-gradient(rgba(244, 232, 213, 0.85), rgba(244, 232, 213, 0.60)),
        url("/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* navbar  */

.nav-text{
    color: #871831 !important;
    font-weight: 500 !important;
}
.custom-btn {
    background-color: transparent !important;
    color: #772e0d !important;
    border: 1px solid #772e0d !important;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
}

.custom-btn:hover {
    background-color: #772e0d !important;
    color: white !important;
}

.book-card {
    border: none;
    border-radius: 14px;
    overflow: hidden;
    transition: 0.3s ease;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

.book-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 14px 30px rgba(0, 0, 0, 0.15);
}

.book-card .card-body {
    background: linear-gradient(to right, #f4e8d5, #e6c79c);
    padding: 20px;
}
/* Header */
.book-table thead th {
    background: rgba(90, 45, 10, 0.9) !important;
    color: white !important;
    text-align: center;
}
/* Table cells */
.book-table td,
.book-table th {
    text-align: center;
    vertical-align: middle;
}
.view-btn {
    background-color: transparent !important;
    color: #772e0d !important;
    border: 1px solid #772e0d !important;
    text-decoration: none;
    padding: 9px 4px;
}

.view-btn:hover {
    background-color: #772e0d !important;
    color: white !important;
}